.jumbotron  {
    text-align: center;
    background: transparent;
    width: 120%;
    border: 20px red solid;
}


.card-body {
    min-width: 350px;
    text-overflow: ellipsis;
    overflow: auto;
    padding-top:40px;

}



.card-text{
    padding-bottom: 5px;
}